.map-container {
  height: 100%;
  width: 100%;
}


.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1; 
}

.donor-popup h4 {
  margin: 0 0 5px 0;
  font-size: 1.1rem;
}

.donor-popup p {
  margin: 0 0 3px 0;
  font-size: 0.9rem;
}

.blood-group-text {
  color: var(--primary-color);
  font-weight: bold;
}

.user-location-marker {
  filter: hue-rotate(120deg);
}
